<div class="bg">
    <div class="parent">
        <div class="child">
            <form nz-form [formGroup]="testForm" class="login-form" (ngSubmit)="submitForm()">
                <nz-form-label [nzNoColon]="'true'">Title</nz-form-label>
                <nz-form-item>
                    <nz-form-control nzErrorTip="This input is required!">
                        <input type="text" nz-input formControlName ="title" placeholder="Title"/>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-label [nzNoColon]="'true'">Time per Question</nz-form-label>
                <nz-form-item>
                    <nz-form-control nzErrorTip="This input is required!">
                        <input type="number" nz-input formControlName ="time" placeholder="Time seconds per Question"/>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-label [nzNoColon]="'true'">Description</nz-form-label>
                 <nz-form-item>
                    <nz-form-control nzErrorTip="This input is required!">
                        <textarea rows="4" nz-input formControlName="description" placeholder="Description">                            
                        </textarea>
                    </nz-form-control>
                </nz-form-item>

                
                <div style="padding-bottom: 30px;">
                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>