<div class="bg">
  <div class="parent">
    <div class="child">
      <h2 class="form-title">Create New Test</h2>
      <form nz-form [formGroup]="testForm" class="login-form" (ngSubmit)="submitForm()">
        
        <nz-form-item>
          <nz-form-label [nzNoColon]="'true'">Title</nz-form-label>
          <nz-form-control nzErrorTip="This input is required!">
            <input type="text" nz-input formControlName="title" placeholder="Enter test title" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzNoColon]="'true'">Time per Question</nz-form-label>
          <nz-form-control nzErrorTip="This input is required!">
            <input type="number" nz-input formControlName="time" placeholder="Seconds per question" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzNoColon]="'true'">Description</nz-form-label>
          <nz-form-control nzErrorTip="This input is required!">
            <textarea rows="4" nz-input formControlName="description" placeholder="Enter description"></textarea>
          </nz-form-control>
        </nz-form-item>

        <div class="btn-wrapper">
          <button nz-button nzType="primary" class="submit-btn" [disabled]="testForm.invalid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
