<div class="bg">
<div class="main">
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="8" *ngFor="let test of tests">
      <nz-card [nzBordered]="true" class="test" nzTitle="{{ test.title }}">
        <p><strong>Time:</strong> {{ getFormatedTime(test.time) }}</p>
        <p><strong>Description:</strong> {{ test.description }}</p>

        <div class="card-actions">
          <button nz-button nzType="primary" routerLink="/user/take-test/{{test.id}}">Start Test</button>

        </div>
      </nz-card>
    </div>
  </div>
</div>
</div>
