<div *ngIf="!isUserLoggedIn && !isAdminLoggedIn">
<nz-header class="main-header sticky-header" nz-row nzType="flex">
  <div class="logo">
    <a routerLink="/">Quiz App</a>
  </div>
  <div class="nav-links">
    <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Sign Up</a>
    <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
  </div>
</nz-header>
</div>


<div *ngIf="isAdminLoggedIn">
<nz-header class="main-header sticky-header" nz-row nzType="flex">
  <div class="logo">
    <a routerLink="/" (click)="logout()">Quiz App</a>
  </div>
  <div class="nav-links">
    <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
    <a nz-button nzType="link" routerLink="/admin/create-test" routerLinkActive="active">Create Test</a>
    <a nz-button nzType="link" routerLink="/admin/view-test-result" routerLinkActive="active">View result</a>
    <a nz-button nzType="link" (click)="logout()">Logout</a>
  </div>
</nz-header>
</div>


<div *ngIf="isUserLoggedIn">
<nz-header class="main-header sticky-header" nz-row nzType="flex">
  <div class="logo">
    <a routerLink="/" (click)="logout()">Quiz App</a>
  </div>
  <div class="nav-links">
    <a nz-button nzType="link" routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a>
    <a nz-button nzType="link" routerLink="/user/view-test-result" routerLinkActive="active">View result</a>
    <a nz-button nzType="link" (click)="logout()">Logout</a>
  </div>
</nz-header>
</div>

<router-outlet></router-outlet>
